<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Random Number</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<style>
  body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  </style>

<body class="m-10 border p-5 rounded-xl max-w-screen max-h-full h-full">
  <div class="flex justify-between w-full">
    <p class="text-2xl uppercase font-bold mb-3">GUESS THE NUMBER.</p>    
  </div>
  <hr class="w-full bg-gray-200 h-[1px]">
  <div class="flex gap-3">
    <div class="flex flex-col items-center justify-center w-full max-w-screen">
      <p class="text-3xl my-2 p-3 border rounded blur-lg" id="randomNumber" th:text="${randomNumber}"></p>    
      <form id="formAction" class="flex flex-col gap-3 w-full" th:action="@{/submit}" method="post">      
        <label for="inputNumber" class="font-md text-black">Just only 1 number is contains will correct.</label>
        <input type="text" min="0" max="999" placeholder="Guess the number of 3 digits ex: 123" class="bg-gray-200 border px-5 py-2 w-full rounded-lg" id="inputNumber" name="inputNumber" pattern="[0-9]*"/>
        <button disabled="true" id="btn-submit" class="text-white bg-orange-500 px-5 py-2 rounded-md w-full" type="submit">GUESS</button>
      </form>
        
    </div>
    <div class="flex flex-col items-center justify-center w-full max-w-screen max-h-full h-full">
      <div class="flex p-3 border rounded mt-5 max-h-full w-full h-auto">
        <div class="border-r p-2 max-w-full flex flex-col items-center justify-center">          
          <button th:onclick="|location.href='/clear'|" class="px-5 py-2 rounded-md text-white bg-orange-500 w-auto" type="submit">CLEAR HISTORY</button>      
        </div>      
        <!-- <div class="p-2 overflow-auto max-h-96 w-full max-w-full" th:text="${userInput}" id="userInput" name="userInput"></div>  -->        
        <div class="flex max-w-full w-full h-auto">
          <table class="p-2 max-h-96 w-full max-w-full border">
              <thead class="text-center border">
                  <tr>                      
                      <th class="border-r">USERGUESSNUMBER</th>
                      <th class="border-r">GUESSNUMBER</th>
                      <th class="border-r">RESULT</th>
                  </tr>
              </thead>
              <tbody class="text-center">
                  <tr th:each="game : ${games}">                      
                      <td class="border" th:text="${game.userGuess}">s</td>
                      <td class="border" th:text="${game.guessNumber}">s</td>
                      <td class="border">
                        <span style="color:#089c00; font-weight: bold;" th:if="${game.score == 1}">CORRECT &#x2705;</span>
                        <span style="color:red; font-weight: bold;" th:if="${game.score != 1}">INCORRECT &#x274c;</span>
                      </td>                    
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 

  </div>
</body>


</html>